# This is a CODEOWNERS file managed by Terraform
* @moutazmuhammad @ronozoro @hasan-exp @Abubaker-Altaib @altexp @Mohammed-Adam-ex @MohamedGad100 @the5abir @esraa8mostafa @zainab2097 @mohdifallah @abdou-belhadj @abobakr-dafalla @abuemira91 @adnanoscar @ramibamaas @socpa @yamani95 @mohamed33 @ahmadaking @eslamabady @SamirLADOUI-sa @mazenmuhamad @Manar416 @mohamed33 @MahmoudAlsoby @mohamedelbadry123 @Hamed-exp @rachedtq @Esraa-Exp @Mohammed-Adam-ex @AbuzarExp @Safouane-Mechmech
