@font-face {
    font-family: 'NotoNaskhArabic';
    src: url("/project_base/static/src/fonts/NotoNaskhArabic-VariableFont_wght.ttf") format('truetype');
}

.tajawal {
    font-family: 'NotoNaskhArabic';
}
