.watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    font-size: 14px;
    color: #006666; /* Gray color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Specify an Arabic font family */
    direction: rtl; /* Right-to-left text direction */
    text-align: right; /* Right-align text */
    z-index: 1000;
    pointer-events: none;
}
