header{
    nav{
        #top_menu_container{
            max-width: initial!important;
            a.logo{
                display: none!important;
            }
            #top_menu_collapse{
                #top_menu{
                    .nav-item{
                        display: none!important;
                    }
                    .nav-item.dropdown{
                        display: initial!important;
                        opacity: 1!important;
                    }
                }
            }
        }
    }
}

#top_menu_container {
    max-width: initial!important;
}

#top_menu_container a.logo {
    display: none !important;
}

#top_menu_container #top_menu_collapse #top_menu .nav-item {
    display: none !important;
}

#top_menu_container #top_menu_collapse #top_menu .nav-item.dropdown {
    display: initial !important;
    opacity: 1 !important;
}