.task-section{
    
}

.task-section .section-header{
    padding: 0;
    padding-top: 50px;
}

.task-section .section-header h3{
    color: #355692;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}
.task-section .section-header h3::after{
    content: "";
    width: 150px;
    height: 5px;
    background-color: #355692;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    right: 0;
} 
.task-section .section-header ul{
    margin-top: 20px;
    margin-bottom: 40px;
}
.task-section .section-header ul li{
    color: #999;
}
.task-section .section-header ul li:last-child{
    color: #222;
    padding: 0;
}
.task-section .section-header ul li::after{
    content: "\F0141";
    font-family: "Material Design Icons";
    margin-right: 2px;
}

.task-section .section-header ul li:last-child::after{
    content: "";
}

.task-section .section-body{
    min-height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 50px 0;
}

.task-section .section-body.list{
    padding: 30px 30px;
}
/* Empty */
.task-section .section-body.empty{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-section .section-body.empty p{
    text-align: center;
    color: #888;
    padding-top: 20px;
    padding-bottom: 20px;
}
.task-section .section-body.empty button.btn{
    background-color: #355692;
    font-size: 16px;
    min-width: 400px;
}
.task-section .section-body.empty button.btn i{
    font-size: 22px;
    margin-left: 10px;
}
#taskModal .modal-header{
    border: none;
}
#taskModal .modal-header .close{
    float: right;
}
#taskModal .modal-header .close i{
    font-size: 26px;
    color: #355692;
}
#taskModal .modal-body{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}
#taskModal .modal-body .modal-body-head{
    padding-bottom: 20px;
}
#taskModal .modal-body .modal-body-head h3{
    color: #355692;
    font-weight: 500;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    font-size: 20px;
}
#taskModal .modal-body .modal-body-head h3::after{
    content: "";
    width: 110px;
    height: 5px;
    background-color: #355692;
    border-radius: 10px;
    position: absolute;
    bottom: 3px;
    right: 0;
} 
#taskModal .modal-body form button.btn{
    background-color: #355692;
    font-size: 16px;
    min-width: 400px;
}
#taskModal .modal-body form button.btn i{
    font-size: 22px;
    margin-left: 10px;
}
/* List Task */
.task-section .section-body .fitler-toolbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.task-section .section-body .fitler-toolbar >  ul {
    display: flex;
}

.task-section .section-body .fitler-toolbar > ul > li{
    color: #bcbcbc;
    display: inline-flex;
    font-size: 16px;
}
.task-section .section-body .fitler-toolbar > ul > li > i {
    font-size: 18px;
    margin-left: 3px;
    color: #8f8f8f;
}
.task-section .section-body .fitler-toolbar > ul > li:first-child{
    margin-left: 10px;
}
.task-section .section-body .fitler-toolbar > ul > li a{
    text-decoration: none;
    color: #355692;
}
.task-section .section-body .fitler-toolbar > ul > li div{
    margin-right: 5px;
}
.task-section .section-body .fitler-toolbar p {
    font-size: 16px;
    color: #8f8f8f;
}
.task-section .section-body .body-content{

}
.task-section .section-body .body-content{
    
}
.task-section .section-body .body-content .content-item-container{
    padding-bottom: 30px;
}
.task-section .section-body .body-content .content-item-container:nth-child(odd){
    padding-right: 0;
    padding-left: 30px;
}
.task-section .section-body .body-content .content-item-container:nth-child(even){
    padding-left: 0;
    padding-right: 30px;
}
.task-section .section-body .body-content .content-item-container .content-item{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 30px;
}
.task-section .section-body .body-content .content-item-container .content-item h4{
    color: #444;
    font-size: 22px;
    margin-top: 0;
}
.task-section .section-body .body-content .content-item-container .content-item ul{
    
}
.task-section .section-body .body-content .content-item-container .content-item ul li{
    color: #969696;
    margin-bottom: 10px;
}
.task-section .section-body .body-content .content-item-container .content-item ul li i{
    color: #969696;
    font-size: 18px;
}
.task-section .section-body .body-content .content-item-container .content-item ul li span.vol{
    color: rgb(2, 170, 2);
}
.task-section .section-body .body-content .content-item-container .content-item ul li span.time{
    margin-right: 5px;
    color: #3574d3;
}
.task-section .section-body .body-content .content-item-container .content-item a.btn{
    background-color: #355692;
    font-size: 16px;
    min-width: 150px;
    border: none;
    margin-top: 10px;
}