* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden !important;
}

p,
span,
hr {
    margin: 0;
    padding: 0;
}

.o_main_navbar {
    background: linear-gradient(to bottom, #003c56, #39858c) !important;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: #00a09d;
}

.o_main_navbar > ul > li > a:hover,
.o_main_navbar > ul > li > label:hover {
    background-color: #00a09d;
}

.o_main_navbar > a:hover,
.o_main_navbar > a:focus,
.o_main_navbar > button:hover,
.o_main_navbar > button:focus {
    background-color: #00a09d;
}

.footer-container {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #003c56, #39858c) !important;
    padding: 0px 150px 0px;
    .footer-top {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 15px 10px 0px 10px;
        .get-in-touch {
            width: 30%;
            height: auto;
            padding: 5px;
            .section-title {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                p {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: white;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
                hr {
                    display: block;
                    width: 100px;
                    height: 5px;
                    background-color: white;
                }
            }
            .get-in-touch-items {
                width: 100%;
                height: auto;
                a {
                    text-decoration: none;
                    font-size: calc(1rem - 3px);
                    font-weight: 500;
                    color: white;
                    text-transform: capitalize;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                    img {
                        height: 20px;
                        margin-inline-end: 10px;
                    }
                }
                .vision {
                    text-decoration: none;
                    img {
                        height: 67px;
                    }
                }
            }
        }
        .you-may {
            width: 30%;
            height: auto;
            padding: 5px;
            .section-title {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                p {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: white;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
                hr {
                    display: block;
                    width: 100px;
                    height: 5px;
                    background-color: white;
                }
            }
            .you-may-items {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 500;
                    color: white;
                    text-transform: capitalize;
                }
            }
        }
        .follow-us {
            width: 30%;
            height: auto;
            padding: 5px;
            .section-title {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                p {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: white;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
                hr {
                    display: block;
                    width: 100px;
                    height: 5px;
                    background-color: white;
                }
            }
            .follow-us-items {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                a {
                    text-decoration: none;
                    img {
                        width: 35px;
                        object-fit: cover;
                    }
                }
            }
            .registered {
                width: 100%;
                height: auto;
                a {
                    text-decoration: none;
                    img {
                        height: 110px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .footer-bottom {
        width: 100%;
        height: auto;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1rem 0px;
        display: flex;
        .copywrite {
            width: 40%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p {
                font-size: 12px;
                font-weight: 500;
                color: white;
                text-transform: capitalize;
            }
        }
        .footer-links {
            width: 60%;
            height: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 35px;
            a {
                text-decoration: none;
                font-size: 0.688rem;
                font-weight: 500;
                color: white;
                text-transform: capitalize;
            }
        }
    }
}

/*Media Query*/

@media screen and (max-width: 319px) {
    .footer-container {
        .footer-top {
            .get-in-touch {
                width: 100%;
            }
            .you-may {
                width: 100%;
            }
            .follow-us {
                width: 100%;
            }
        }
        .footer-bottom {
            .copywrite {
                width: 100%;
            }
            .footer-links {
                width: 100%;
            }
        }
    }
}

@include media-breakpoint-only(xs) { 
    .footer-container {
        padding: 0px;
        .footer-top {
            flex-wrap: wrap;
            padding: 10px;
            .get-in-touch {
                width: 100%;
                height: auto;
                padding: 5px;
                .section-title {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                    p {
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: white;
                        text-transform: capitalize;
                        margin-bottom: 5px;
                    }
                    hr {
                        display: block;
                        width: 100px;
                        height: 5px;
                        background-color: white;
                    }
                }
                .get-in-touch-items {
                    width: 100%;
                    height: auto;
                    a {
                        text-decoration: none;
                        font-size: calc(1rem - 3px);
                        font-weight: 500;
                        color: white;
                        text-transform: capitalize;
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        img {
                            height: 20px;
                            margin-inline-end: 10px;
                        }
                    }
                    .vision {
                        text-decoration: none;
                        img {
                            height: 67px;
                        }
                    }
                }
            }
            .you-may {
                width: 100%;
                height: auto;
                padding: 5px;
                .section-title {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                    p {
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: white;
                        text-transform: capitalize;
                        margin-bottom: 5px;
                    }
                    hr {
                        display: block;
                        width: 100px;
                        height: 5px;
                        background-color: white;
                    }
                }
                .you-may-items {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: 500;
                        color: white;
                        text-transform: capitalize;
                    }
                }
            }
            .follow-us {
                width: 100%;
                height: auto;
                padding: 5px;
                .section-title {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                    p {
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: white;
                        text-transform: capitalize;
                        margin-bottom: 5px;
                    }
                    hr {
                        display: block;
                        width: 100px;
                        height: 5px;
                        background-color: white;
                    }
                }
                .follow-us-items {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    a {
                        text-decoration: none;
                        img {
                            width: 35px;
                            object-fit: cover;
                        }
                    }
                }
                .registered {
                    width: 100%;
                    height: auto;
                    a {
                        text-decoration: none;
                        img {
                            height: 110px;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .footer-bottom {
            flex-wrap: wrap;
            .copywrite {
                width: 100%;
            }
            .footer-links {
                width: 100%;
            }
        }
    }
      
}

@include media-breakpoint-only(sm) { 
    
}

@include media-breakpoint-only(md) { 
    
}

@include media-breakpoint-only(lg) { 
    
}

@include media-breakpoint-only(xl) { 
    
}

