/* FOOTER */

/* footer {
    background-color: #fff;
}

#footer {}

footer .footer-top {
    padding: 0;
    border-bottom: 1px solid #e3e3e3;
}

footer .footer-top .footer-top-logo {
    padding: 0;
}

footer .footer-top .footer-top-logo img {}

footer .footer-top p {
    margin-bottom: 0;
}

footer .footer-top .footer-top-social {
    padding: 0;
}

footer .footer-top .footer-top-social p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer .footer-top .footer-top-social ul {}

footer .footer-top .footer-top-social ul li {}

footer .footer-top .footer-top-social ul li a {
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    background: #eee;
    color: #2e4571;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all ease-in-out .3s;
}

footer .footer-top .footer-top-social ul li a:hover {
    background: #2e4571;
    color: #fff;
}

#footer .bottom-section {
    border-top: 1px solid #e3e3e3;
    padding: 0;
}

footer .footer-bottom {
    display: flex;
    padding: 0;
}

footer .footer-links {
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer .footer-links .about-column {
    padding-right: 15px;
    padding-left: 0;
}

.rtl footer .footer-links .about-column {
    padding-left: 15px;
    padding-right: 0;
}

footer .footer-links .about-column p {
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
}

footer .footer-links .link-column ul {}

footer .footer-links .link-column ul li {
    margin-bottom: 15px;
}

footer .footer-links .link-column ul li a {
    color: #000;
} */

footer .footer-links .link-column ul li a::before {
    content: "\F0142";
    font: normal normal normal 24px/1 "Material Design Icons";
    display: inline-block;
    font-size: 18px;
}

.rtl footer .footer-links .link-column ul li a::before {
    transform: rotate(180deg);
}

/* footer .footer-links .link-column ul li a:hover {
    text-decoration: none;
}

footer .footer-links h3 {
    font-size: 16px;
    margin-top: 0;
    font-weight: bold;
}

footer #footer ul.list-unstyled>li>a {
    display: flex;
}

footer .footer-bottom img {
    margin-left: 10px;
}

footer .footer-bottom img:last-child {
    margin-left: 0;
}

footer .footer-copyright {
    padding: 0;
}

footer .footer-copyright p {
    text-align: right;
    font-size: 10px;
}

.contact-column ul a {
    align-items: center;
    text-decoration: none;
}

.contact-column ul a i {
    font-size: 24px;
    padding-right: 10px;
}

.rtl .contact-column ul a i {
    padding-right: 0;
    padding-left: 10px;
}

.rtl footer .footer-copyright p {
    text-align: left;
} */


/* Reset Hide Fields */
.oe_reset_password_form .field-login,.oe_reset_password_form .field-name{
    display: none;
}