.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
    padding: 7px 22px;
    margin: 0 auto;
    border-radius: 0;
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
}

.blue
{
	background-color: #5fcac1;
	border-bottom: 5px solid #54a08b;
	text-shadow: 0px -2px #5fcac1;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.oe_right{
    float: right;
    margin-left: 0px;
    margin-right: 8px;
}

.progress-bar-danger {
    background-color: #d9534f;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar-warning {
    background-color: #f0ad4e;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.btn-sm .btn-group-sm > .btn {
    font-size: 13px;
}

/* start 3/12/2018  */
.thead_upload{
    border-bottom: 1px solid #f3f0f17a;
}
.upload_row_th{
    background: #f3f1f21c;
}
tr.upload_row_th th {
    border: 1px solid #f3f1f24f;
}
.upload_row td{
    border: 1px solid #f3f1f24f;
}
.upload_row td a:hover{
    color: white;
}
.grant-state{
    display: inline-block;
    text-align: center;
    width: 174px;
    background: #5fcac1 ;
    padding: 10px 0px;
    margin-left: 18px;
    border-radius: 12px;
}

/* end  */