.form-sectionn{
    margin-top: 10px;
    margin-bottom: 5px;
}


.help-block{
    color: #dd3333;
}
.align-left{
    text-align: left;
}
.row{
  margin:auto;
}
.grant-title {
	    color: #368e9a;
    margin: 10%;
}

 aside#sidebar .grant-left-nav ul.blocklist li.active {
	background: #5c96cf !important;
}
 aside#sidebar .grant-left-nav ul.blocklist li.active a {
 	 color: #fff !important;
 
 }
aside#sidebar .grant-left-nav ul.blocklist li a {
	color: #5c96cf !important;
	    display: block;
    padding: 16px 43px;
    font-size: 18px;

}
 aside#sidebar .grant-left-nav ul.blocklist li.active  .ltr-ico .fa{
   
      color: #fff;
 }
.btns-grnt {
	    margin-top: 30px;
} 
  aside#sidebar .grant-left-nav ul.blocklist li.active   .rtl-ico .fa{
   
     color: #fff;
 }
 aside#sidebar .grant-left-nav ul.blocklist  .ltr-ico .fa{
     margin-right: 8px;
      color: #5c96cf;
 }
 
  aside#sidebar .grant-left-nav ul.blocklist  .rtl-ico .fa{
     margin-left: 8px;
     color: #5c96cf;
 }
#exTab2 .nav-tabs > li {
     margin-bottom: -6px;
 }
 #exTab2 .nav-tabs > li > a{
    background-color: #f5f5f5;
    border: 1px solid #ddd !important;
    border-radius: 0;
    color: #9c9c9c;
    margin-top: 5px;
 }
 
  #exTab2 .nav-tabs > li.active > a, #exTab2  .nav-tabs > li.active > a:hover, #exTab2  .nav-tabs > li.active > a:focus {
 	background-color: #fff !important;
 
 }
.btns-grnt  .action-button {
    border-radius: 0; 
    float:none;
     background-color: #378e9b;
    border-bottom: 5px solid #358d9a;
    text-shadow: 0px -2px #5fcac100;
 
 }
 
 section#body  .list-grts{
     border: 1px solid #eee;
 }
 .title-register {
    border-collapse: separate;
    border-spacing: 16px 0;
    border-spacing: 1rem 0;
    color: #ffffff;
    display: table;
    font-family: Merriweather;
    font-size: 19px;
    line-height: 2.5;
    padding: 0px;
    border-radius: 0;
    margin: 20px auto;
    table-layout: auto;
    text-align: center;
    text-shadow: 0.0625em 0.0625em 0 rgba(0, 0, 0, .2);
    white-space: nowrap;
    width: 100%;
    background: #368e9a;
 }
/* .title-register:before,.title-register:after {
   border-top: 1px double #318b98;
  content: '';
  display: table-cell;
  width: 50%;
 }
.title-register:before,.title-register:after {
border-top-width: 4px;
} */
.checkbox-regts .form-control{
    height: 20px !important;
}
.btn-sbm-rgt {
	color: #fff;
    background-color: #5c96cf;
    border-color: #5c96cf;
    border-radius: 0;
    padding: 9px 68px;
    margin: 5% 0;
}
.box{
    background-color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #EEE;
    border-bottom: 1px solid #308b98;
    min-height: 215px;
    position: relative;

}

.features-wrap{
  padding:2%;
}

.glyp-icon{
  font-size: 50px;
  color:#c5c5c5;
}
.btn-request {
    color: #fff;
    background-color: #308b98;
    border-color: transparent;
    position: absolute;
    right: 74px;
    bottom: 15px;
    left: 74px;
}
.btn-request:hover {
color: #fff;
background-color: #25395c;
    border-color: transparent;
}
.box::hover{
    border-bottom: 2px solid #476ba9;
}
.box h3{
font-size:22px;
}

.rtl .datepicker {
   float: right
}
.rtl .datepicker.dropdown-menu {
   right:auto
}

body.rtl .align-left {
    text-align: right;
}
