.field_text {
    width: 85% !important;
    min-height: 30px !important;
    height: 40px !important;
}

.o_form_view .oe_button_box .oe_stat_button {
    text-align: center;
    padding: 5px;
}

.include_attaches {
    margin: 20px 0;
}

.include_attaches input, button {
    padding: 5px;
}

.attach_table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}



.add-row
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}
.add-row:active
{
	transform: translate(0px,5px);
      border-bottom: 1px solid;
}
.delete-row
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	color: #FFF;
	text-decoration: none;
}
.delete-row :active
{
	transform: translate(0px,5px);
      border-bottom: 1px solid;
}
.paginate a {
    text-decoration: none;
    color: blue;
    float: left;
    padding: 10px 15px;
 border-radius: 10px;
 transition: background-color .5s;
}

.paginate a.active {
    background-color: lightblue;
 border-radius: 10px;
}

.paginate a:hover:not(.active) {
    background-color: lightgray;
}

.calendars-popup{
    z-index: 9999;
}