.o_field_selection .o_radio_label {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.o_radio_label[data-value="red"] {
    background-color: red !important;
}

.o_radio_label[data-value="blue"] {
    background-color: blue !important;
}

.o_radio_label[data-value="green"] {
    background-color: green !important;
}

.o_radio_label[data-value="orange"] {
    background-color: orange !important;
}

.o_radio_label[data-value="purple"] {
    background-color: purple !important;
}
